In [8]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_excel('DATA/Suivi Analyse Mobile f.xlsx',sheet_name="intake")

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date de prelevement    10 non-null     datetime64[ns]
 1   Cond. (mS/cm) à 25° C  10 non-null     float64
 2   pH                     10 non-null     float64
 3   Turb (NTU)             10 non-null     float64
 4   PO43- (mg/l)           10 non-null     float64
 5   SiO2 (mg/l)            10 non-null     float64
 6   TOC (mg/l)             10 non-null     object
 7   MES  (mg/l)            10 non-null     object
 8   Cl2 libre (mg/l)       10 non-null     float64
dtypes: datetime64[ns](1), float64(6), object(2)
memory usage: 924.0+ bytes

In [22]:
df.replace('/', np.nan, inplace=True)

In [26]:
df['TOC (mg/l)'].replace(1,'<3', inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_6400\2058404470.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['TOC (mg/l)'].replace(1,'<3', inplace=True)

In [ ]:
df['TOC (mg/l)'].replace(1,'0', inplace=True)

In [ ]:
df.replace('en cours', np.nan, inplace=True)

In [24]:
df.columns

Index(['Date de prelevement', 'Cond. (mS/cm) à 25° C', 'pH', 'Turb (NTU)',
       'PO43- (mg/l)', 'SiO2 (mg/l)', 'TOC (mg/l)', 'MES  (mg/l)',
       'Cl2 libre (mg/l)'],
      dtype='object')

In [25]:
df

,Date de prelevement,Cond. (mS/cm) à 25° C,pH,Turb (NTU),PO43- (mg/l),SiO2 (mg/l),TOC (mg/l),MES (mg/l),Cl2 libre (mg/l)
0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-07-16,55.9,7.70,1.39,4.19,1.451,<3,2.3,0.0
2,2024-07-17,55.8,7.70,1.56,4.44,0.929,3.35,2.4,0.0
3,2024-07-18,55.5,7.50,1.33,5.42,0.794,0,2.2,0.0
4,2024-07-19,55.2,7.50,1.45,6.76,1.670,0,2.6,0.0
5,2024-07-20,55.9,7.75,2.17,5.66,1.468,0,3.4,0.0
6,2024-07-21,55.9,7.80,2.66,5.34,1.209,0,3.8,0.0
7,2024-07-22,55.9,7.70,1.20,4.08,1.477,0,1.8,0.0
8,2024-07-23,55.9,7.40,1.87,5.65,1.333,0,4.8,0.0
9,2024-07-24,56.7,7.80,1.31,3.78,0.923,0,NaN,0.0
10,2024-07-25,56.9,7.70,1.68,5.24,0.703,NaN,NaN,0.0